<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>分类</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
  <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
</head>
<body>

  <!--导航-->
  <nav th:replace="_fragments :: menu(2)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small" >
    <div class="ui container">
      <div class="ui inverted secondary stackable menu">
        <h2 class="ui teal header item">Blog</h2>
        <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
        <a href="#" class="active m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
        <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
        <a href="#" class="m-item item m-mobile-hide"><i class="clone icon"></i>归档</a>
        <a href="#" class="m-item item m-mobile-hide"><i class="info icon"></i>关于我</a>
        <div class="right m-item item m-mobile-hide">
          <div class="ui icon inverted transparent input m-margin-tb-tiny">
            <input type="text" placeholder="Search....">
            <i class="search link icon"></i>
          </div>
        </div>
      </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
      <i class="sidebar icon"></i>
    </a>
  </nav>

  <!--中间内容-->
  <div id="waypoint" class="m-container-small m-padded-tb-super animated fadeIn">
    <!--ui提供的container:提供的宽度固定，显示最好的显示效果-->
    <!--        <div class="ui container" id="blog-content" th:fragment="blogList">-->
    <div class="ui container">
      <!--header-->
      <!--top attached:把两个连成一个-->
      <div class="ui top attached segment">
        <!--middle aligned:垂直方向居中、two:一左一右-->
        <div class="ui middle aligned two column grid">
          <div class="column">
            <h3 class="ui teal header">分类</h3>
          </div>
          <div class="right aligned column">
            共 <h2 class="ui orange header m-inline-block m-text-thin" th:text="${#arrays.length(types)}"> 14 </h2> 个
          </div>
        </div>
      </div>

      <!--标签-->
      <!--attached:贴附、m-padded-tb-large:内部小边距-->
      <div class="ui attached segment m-padded-tb-large">
        <!--m-margin-tb-tiny:防止紧贴在一起-->
        <div class="ui labeled button m-margin-tb-tiny" th:each="type : ${types}">
          <a href="#" th:href="@{/types/{id}(id=${type.id})}" class="ui basic  button" th:classappend="${type.id==activeTypeId} ? 'teal'" th:text="${type.name}">LeetCode</a>
          <!--left pointing:左边的指示角-->
          <div class="ui basic  left pointing label" th:classappend="${type.id==activeTypeId} ? 'teal'" th:text="${#arrays.length(type.blogs)}">24</div>
        </div>
      </div>

      <!--标签下内容-->
      <!--加top，不希望和上面那个连接在一块-->
      <div class="ui top attached teal segment">
        <!--padded调大里面方框的边距、vertical:垂直的、两个相邻中间加横线、m-padded-tb-large相邻间距拉大一点-->
        <!--                <div class="ui padded vertical segment m-padded-tb-large m-mobile-lr-clear" th:each="blog : ${page.content}">-->
        <div class="ui padded vertical segment m-padded-tb-large m-mobile-lr-clear" th:each="blog : ${pageInfo.list}">
          <!--grid:分成16份、mobile reversed:手机端反转,原来图片在下方(eleven在下,five在上)、stackable:可堆叠,屏幕小的时候会堆叠到一块,用于适应移动端网页适配-->
          <div class="ui middle aligned mobile reversed stackable grid">
            <div class="eleven wide column">
              <h3 class="ui header" ><a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="m-black" th:text="${blog.title}">你真的理解什么是财富自由吗?</a></h3>
              <p class="m-text" th:text="|${blog.description}......|">正确做好任何一件事情的前提是清晰、正确的理解目标。而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来就没有想过，只是大家都那么做而已…...正确做好任何一件事情的前提是清晰、正确的理解目标。而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来就没有想过，只是大家都那么做而已…...正确做好任何一件事情的前提是清晰、正确的理解目标。而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来就没有想过，只是大家都那么做而已…...</p>
              <!--stackable:小屏幕自动堆叠-->
              <div class="ui stackable grid">
                <div class="eleven wide column">
                  <!--horizontal:平着的、mini:小一点-->
                  <div class="ui mini horizontal link list">
                    <div class="item">
                      <!--avatar image:圆形的图片-->
                      <!-- <img src="https://picsum.photos/id/1027/100/100" th:src="@{${blog.user.avatar}}" alt="" class="ui avatar image">-->
                      <img src="../static/images/avatar.jpg" th:src="@{${blog.avatar}}"  alt="" class="ui avatar image">
                      <!-- <div class="content"><a herf="#" class="header" th:text="${blog.user.nickname}">CodeSleep</a></div>-->
                      <div class="content"><a href="#" class="header" th:text="${blog.nickname}" >Kindnit</a></div>
                    </div>
                    <div class="item">
                      <!--calendar icon:时间的图标-->
                      <i class="calendar icon"></i> <span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2022/07/15</span>
                    </div>
                    <div class="item">
                      <!--eye icon:眼睛的图标-->
                      <i class="eye icon"></i><span th:text="${blog.views}">2342</span>
                    </div>
                  </div>
                </div>
                <!--right aligned:靠右、teal:颜色、basic:边线试感觉-->
                <div class="right aligned five wide column">
                  <!--  <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin" th:text="${blog.type.name}">认知升级</a>-->
                  <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin" th:text="${blog.typeName}">认知升级</a>
                </div>
              </div>
            </div>

            <div class="five wide column">
              <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank">
                <!--rounded:圆角的-->
                <img src="../static/images/bg.jpg" th:src="@{${blog.firstPicture}}"  alt="" class="ui rounded image">
              </a>
            </div>

          </div>
        </div>
      </div>

      <div class="ui mini right floated pagination menu" th:unless="${pageInfo.pages}==1">
        <a th:onclick="|javascript : changeType('${typeid}',${pageInfo.pageNum}-1)|"
           th:unless="${pageInfo.isFirstPage}" class="icon item">
          <i class="left chevron icon"></i>
        </a>
        <a th:each="p : ${pageInfo.navigatepageNums}" th:text="${p}"
           class="item" th:attr="data-page=${p}" th:classappend="${pageInfo.pageNum}==${p}? 'active'"
           th:onclick="|javascript : changeType('${typeid}',${p})|">1</a>

        <a th:onclick="|javascript : changeType('${typeid}',${pageInfo.pageNum}+1)|"
           th:unless="${pageInfo.isLastPage}" class="icon item">
          <i class="right chevron icon"></i>
        </a>
      </div>
    </div>

  </div>

  <!--右侧工具栏-->
  <div id="toolbar" class="m-padded topButton m-fixed m-right-bottom" style="display: none">
    <div class="ui vertical icon buttons ">
      <!--chevron up：向上的小图片-->
      <div id="toTop-button" class="ui icon button" ><i class="chevron up icon"></i></div>
    </div>
  </div>
  <br>
  <br>
  <!--底部footer-->
  <footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
      <div class="ui inverted divided stackable grid">
        <div class="three wide column">
          <div class="ui inverted link list">
            <div class="item">
              <img src="../static/images/wechat.jpg" class="ui rounded image" alt="" style="width: 110px">
            </div>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header m-text-thin m-text-spaced " >最新博客</h4>
          <div class="ui inverted link list">
            <a href="#" class="item m-text-thin">用户故事（User Story）</a>
            <a href="#" class="item m-text-thin">用户故事（User Story）</a>
            <a href="#" class="item m-text-thin">用户故事（User Story）</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header m-text-thin m-text-spaced ">联系我</h4>
          <div class="ui inverted link list">
            <a href="#" class="item m-text-thin">Email：someone@163.com</a>
            <a href="#" class="item m-text-thin">QQ：10086</a>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header m-text-thin m-text-spaced ">Blog</h4>
          <p class="m-text-thin m-text-spaced m-opacity-mini">这是我的个人博客、会分享关于编程、写作、思考相关的任何内容，希望可以给来到这儿的人有所帮助...</p>
        </div>
      </div>
      <div class="ui inverted section divider"></div>
      <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2022 - 2023 Kindnit Designed by Kindnit</p>
    </div>

  </footer>

  <!--/*/<th:block th:replace="_fragments :: script">/*/-->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
  <!--/*/</th:block>/*/-->

  <script>
    //<!--jQuery获取这个元素-->
    $('.menu.toggle').click(function () {//toggleClass开关一样的样式
      $('.m-item').toggleClass('m-mobile-hide');//m-item:获取那几个列表，点击的时候处理m-mobile-hide
    });
    //<!--jQuery:按钮之后触发，执行JS组件-->
    // $('#payButton').popup({         //获得按钮、.popup:没有为什么，调用组件
    //     popup : $('.payQR.popup'),  //拿到二维码对象，定位到这个元素
    //     //on : 'click',               //点击的时候触发
    //     position: 'bottom center'   //position位置：在中下的位置触发
    // });
    //滚动侦测JS，根据滚动的位置显示
    var waypoint = new Waypoint({
      element: document.getElementById('waypoint'),   //监测对象
      handler: function(direction) {                  //当滚动的时候触发；direction；方向，模板里直接用
        if (direction == 'down') {                  //(direction == 'down')向下滚动；control里可以看
          $('#toolbar').show(100);
        } else {
          $('#toolbar').hide(500);
        }
        console.log('Scrolled to waypoint!  ' + direction);
      }
    })
    //点击的时候调用平滑滚动里的方法
    $('#toTop-button').click(function () {
      $(window).scrollTo(0,500);      //0最顶端，500速度
    });

    function changeType(typeid, p) {
      $(this).addClass("active").siblings("a").removeClass("active");
      var url = "/types/" + typeid + "?pageNum=" + p;
      console.log(url)
      $("#blog-content").load(url);
    }
  </script>
</body>
</html>